.animated-rotating {
    display: inline-block;
    transform-style: preserve-3d; 
    animation: rotateAnimation 8s ease-in-out infinite;
    animation-delay: 1s;
  }
  @keyframes rotateAnimation {
    0%, 100% { transform: rotateY(0deg); }
    50% { transform: rotateY(-20deg); }
    70%{transform: rotateX(-20deg);}
    85% { transform: rotateY(20deg); }
  }

.animated-rotating-1 {
    display: inline-block;
    transform-style: preserve-3d; 
    animation: AnimationX 8s ease-in-out infinite;
    animation-delay: 1s;
}
  @keyframes AnimationX {
    0%, 100% { transform: rotateY(15deg); }
    50% { transform: rotate(-5deg); }
  }

  .animated-rotating-2 {
    display: inline-block;
    transform-style: preserve-3d; 
    animation: AnimationX 8s ease-in-out infinite;
    animation-delay: 1s;
}
  @keyframes AnimationX {
    0%, 100% { transform: rotateX(20deg); }
    50% { transform: rotate(-5deg); }
  }